@{
	ViewBag.Title = "Storyline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Storyline</h2>

<div class="container" ng-controller="StorylineController">    
    <div class="panel panel-default" ng-show="!segment">
        <div class="panel-heading">
            Filter
        </div>
        <div class="panel-body">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <label>Month</label>
                    <input type="number" class="form-control" step="1" min="1" max="12" ng-model="month" />
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <input type="number" class="form-control" step="1" min="2013" max="2014" ng-model="year" />
                </div>                
            </form>
        </div>
    </div>

    <div class="panel panel-primary" ng-repeat="day in days" ng-show="!segment">
        <div class="panel-heading">            
            <moment ng-model="day.date" ng-moment-parse="YYYYMMDD" ng-moment-format="DD-MM-YYYY"></moment>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <tr>
                    <th></th>
                    <th>Plaats</th>
                    <th>Tijd</th>
                    <th></th>
                </tr>
                <tr ng-repeat="segment in day.segments">
                    <td><icon ng-model="segment.type"></icon></td>
                    <td>{{segment.place ? segment.place.name : 'Transport'}}</td>
                    <td>
                        <moment ng-model="segment.startTime" ng-moment-parse="YYYYMMDDTHHmmssZZ" ng-moment-format="HH:mm:ss"></moment>
                        -
                        <moment ng-model="segment.endTime" ng-moment-parse="YYYYMMDDTHHmmssZZ" ng-moment-format="HH:mm:ss"></moment>
                    </td>                    
                    <td><a ng-click="details(day, segment)">Details</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default" ng-show="segment">
        <div class="panel-heading">
            {{ !segment.place ? 'Unknown' : segment.place.name}}
        </div>
        <div class="panel-body">
            
            <google-map center="map.center" zoom="map.zoom" ng-if="map">
                <marker coords="map.center">
                    <window show="true">
                        {{segment.place.name}}
                    </window>
                </marker>
            </google-map>            

            <table class="table table-condensed" ng-if="segment.activities">
                <tr>
                    <th></th>
                    <th>Calorien</th>
                    <th>Afstand</th>
                    <th>Tijdsduur</th>
                    <th>Stappen</th>
                    <th>Van</th>
                    <th>Tot</th>
                </tr>
                <tr ng-repeat="activity in segment.activities">
                    <td><icon ng-model="activity.activity"></icon></td>
                    <td>{{activity.calories}}</td>
                    <td>{{activity.distance}}</td>
                    <td>{{activity.duration}}</td>
                    <td>{{activity.steps}}</td>
                    <td><moment ng-model="segment.startTime" ng-moment-parse="YYYYMMDDTHHmmssZZ" ng-moment-format="HH:mm:ss"></moment></td>
                    <td><moment ng-model="segment.endTime" ng-moment-parse="YYYYMMDDTHHmmssZZ" ng-moment-format="HH:mm:ss"></moment></td>
                </tr>
            </table>

        </div>
        <div class="panel-footer">
            <a class="btn" ng-click="details(null)">Terug</a>
        </div>
    </div>
</div>


